.exp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    min-height: 2rem;
    margin-top: 1rem;
    color: white;
}

.exp-right {
    align-items: flex-end;
    text-align: right;
}

.exp-left {
    align-items: flex-start;
    text-align: left;
}

.exp-container > .org, .duration, .designation {
    padding: 0.4rem 0;
}

.exp-container > .designation {
    color: var(--color-quadinary) !important;
}

.exp-container > .duration {
    margin-top: 0.3rem;
    font-size: 0.85rem;
    font-weight: bold;
    padding: 0.25rem 0.3rem;
    color: var(--color-primary) !important;
    background-color: var(--color-tertiary) !important;
}

.logo-container {
    width: 30% !important;
    min-height: 20px;
    margin: 2px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fm, .id {
    width: 70%;
}